:root {
    --color-letter: #cdcdcd;
    --color-letter2: #afafaf;
    --color-background: #000000;
    --color-black: #040306e2;
    --color-black2: #050505f7;
    --color-primary1: #4b4870;
    --color-primary2: #243a6e;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


/* Small Screen */

body {
    background-color: var(--color-background);
    color: var(--color-letter);
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
    overflow-x: hidden;
} 

body::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-thumb {

}

.container {
    padding: auto;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
    justify-content: center; 
}



 /* Header */


#header {
    width: 100vw;
    height: 52px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;  
    transition: 0.6s;
    z-index: 40;
}

#header div {
    display: flex;
    width: 100vw;
    z-index: 30;
    background-color: var(--color-black);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}


#header div h1 {
    font-size: 22px;
    padding: 10px 5px 10px 30px;
    display: inline-block;
    margin: auto 0;
    text-align: none;
    width: auto;
}

#header div h1:hover {
    cursor: pointer;
}

#header div a {
    margin: auto 0;
    width: auto;
    padding: 13px 5px 10px 5px;
    font-size: 19px;
    text-align: none;
}

#header .fab {
    color: var(--color-letter);
    text-decoration: none;
    transition: 0.3s;
}

#header .fab:hover {
    color: var(--color-primary1);
}



.header-label {
    z-index: 25;  
    width: 70px;
    height: 52px;
    padding: auto;
    cursor: pointer;
    background-color: var(--color-black);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.header-label i {
    display: inline-block;
    color: var(--color-letter);
    font-size: 28px;
    z-index: 35;
    padding: 12px;  
}

.header-input {
    display: none;
}

.header-input:checked + #navbar {
    transform: translateY(0);
}


#navbar {
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: 0.6s ease-out; 
    transform: translateY(-150%);
    z-index: -1;
    background-color: var(--color-black2);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
} 


#navbar ul {
    list-style: none;
    margin: 72px 0;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

#navbar li {
    width: 100%;
    margin: 1.5em 1.5em;
    text-align: center;
}

#navbar a {
    font-size: 1.5em;
    text-decoration: none;
    color: var(--color-letter);
    padding: 1em 3.2em;
    transition: 0.25s;
}

#navbar a:hover {
    color: var(--color-primary1);
    
}



@media (min-width: 800px) {
    #header {
        width: 100vw;
        height: auto;
        padding-top: 40px;
    }

    #header div {
        width: 40vw;
        background-color: #00000000;
        border-bottom: #00000000;
        margin-left: 9vw;
        -webkit-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
        
    }

    #header div h1 {
        font-size: 24px;
        padding: 15px 5px 15px 30px;

    }

    #header div a {
        font-size: 21px;
        padding: 18px 5px 15px 5px;
    }

    


    #header.sticky {
        background: var(--color-black);
        padding-top: 0;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    .header-label {
        background-color: #00000000;
        border-bottom: #00000000;
    }

    .header-input, .header-label {
        display: none;
    }


    #navbar {
        position: relative;
        transform: translateY(0);
        width: 100%;
        height: auto;
        margin-right: 9vw; 
        background-color: #00000000;
        -webkit-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }

    #navbar ul {
        height: 70px;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        flex-flow: row wrap;
    }

    #navbar li {
        display: inline-block;
        margin: auto 0;
        text-align: none;
        width: auto;
    }

    #navbar a {
        font-size: 19px;
        padding: 16px 22px;
    }
}


 /* Welcome-Section */

#welcome-section {
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.welcome-section__desc {
    position: absolute;
    top: 50%;
    left: 50%; 
    text-align: center;
    transform: translate(-50%, -50%);
    display: grid;
    z-index: 30;
}

.welcome-section__desc h1 {
    font-size: 3em;
}

.welcome-section__desc p {
    font-size: 1.2em;
}


.welcome-section__image {
    position: relative;
}

.welcome-section__image::before {
    content: "";
    width: 100%;
    height: 101vh;
    position: fixed;
    top: 0;
    right: 0;
    background-image: linear-gradient(350deg, #ffffff00, #0c0913a2 70%);
}

#welcome-section__img {
    max-width: 100vw;
    width: 100%;
    display: block;
    object-fit: cover;
    height: 101vh;
    position: fixed;
    z-index: -1;
}


@media (min-width: 800px) {
    .welcome-section__desc {
        font-size: 22px;
    }
}



/* Div-Sections */ 

#div-sections {
    display: flex;
    flex-flow: column wrap;
    max-width: 1200px;
    width: 100vw;
    margin: auto;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background:#4b487018;
    border-radius: 8px;
    z-index: 20;
    padding-bottom: 100px;
}

#div-sections > section > h2 {
    font-size: 2.5em;
}

#div-sections > section > p {
    font-size: 1.1em;
    margin-bottom: 35px;
}





 /* Projects-Section */ 

.projects-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin:auto;
    padding-top: 100px;
}


.projects-section__div {
    width: 100vw; 
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.div-article {
    margin: 10px;
    max-width: 450px;
    width: 95%;
    max-height: 250px;
    height: calc(10px + 40vw);
    border-radius: 4px;
    background: var(--image);
    background-size: 100%;
    background-position: center;
    transition: 1s;
    overflow: hidden;
}

.div-article article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #000000a4;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: 0.6s;
}

.div-article p {
    width: 100%;
    font-size: 1.1em;
    padding: 10px 20px;
}

.div-article a {
    text-decoration: none;
    color: var(--color-letter);
    font-size: 1.2em;
    transition: 0.3s;
    padding: 10px 20px;
}


.div-article:hover {
    background-size: 110%;
}

.div-article:hover article {
    opacity: 1;
}

.div-article a:hover {
    color: var(--color-primary1)
}




.projects-section > .button {
    margin-top: 30px;
    padding: 10px 15px;
    background-color: #4b487018;
    border-radius: 30px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: 0.4s;
}

.projects-section > .button:hover {
    translate: 0 -5px; 
}

.projects-section > .button > a {
    text-decoration: none;
    color: var(--color-letter);
    font-size: 1.3em;
    transition: 0.3s;
    padding: 10px 20px;
}

.fa-chevron-right {
    color: var(--color-letter);
    transition: 0.4s;
}

.projects-section > .button:hover .fa-chevron-right {
    translate: 9px;  
}



/* About-Section */

.about-section {
    max-width: 600px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 100px;
}

.about-section ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.about-section ul li {
    width: 130px;
    height: 130px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: #4b487018;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    font-size: 0.9em;
    color: var(--color-letter2);
    transition: 0.6s;
    position: relative;
}

.about-section li div {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    transition: 0.6s;
    background: #000000a4;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
}

.about-section li div p {
    font-size: 1.2em;
    opacity: 0;
    transition: 0.3s;
}

.about-section ul li:hover {
    translate: 0 -5px;
}

.about-section ul li:hover div {
    opacity: 1;
}

.about-section li:hover div p {
    opacity: 1;
}




/*
.about-section ul li::before {
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 50%;
    background-color: #4b487018;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: -1;
} */






/* Contact-Section */

.contact-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 100px;
}

.contact-section a:hover {
    color: var(--color-primary1);
}




/* Footer */

footer {
    height: 120px;
    width: 100vw;
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 20;
    border-top: 1px solid var(--color-black2);
}

footer p {
    margin: 0 10px;
}



@media (min-width: 350px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 550px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 800px) {
    body {
        font-size: 16px;
    }
}






